<!-- Tabela com consultas de Hospede -->
<div class="card-header form-header">
    <label for="hospede">Consultas</label>
</div>

<form class="col-md-12 form-border  mb-5">
    <div class="group-radio">
        <div class="row col-md-12">
            <label>Filtrar hóspede:</label>
        </div>

        <div class="form-group col-md-6">
            <label for="pesquisaHospede">Pesquisa</label>
            <input [(ngModel)]="filter" name="filter" class="form-control">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Documento</th>
                <th scope="col">Telefone</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let guest of filteredGuests">
                <td>{{ guest.name }}</td>
                <td>{{ guest.document }}</td>
                <td>{{ guest.telephone }}</td>
                <td>
                    <button [routerLink]="['/guests/info', guest.id]" type="button" class="btn btn-primary btn-sm mr-1"
                        title="Editar o hóspede">
                        <i class="material-icons">edit</i>
                    </button>
                    <button (click)="deleteById(guest.id)" type="button" class="btn btn-danger btn-sm"
                        title="Apagar o hóspede">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button class="btn btn-primary previous-button">← Previous</button>
        <button class="btn btn-primary next-button">Next →</button>
    </div>
</form>
