div .checkbox {
  margin: 40px 0 0 20px;
}

.save-button {
  width: 100px;
  background-color: #347AB6;
}

.previous-button {
  color: #347AB6;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  margin-left: 20px;
  width: 120px;
}

.next-button {
  color: #347AB6;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  margin-left: 10px;
  width: 90px;
}

.form-redirect {
  margin-bottom: 20px;
}

.form-redirect .save-button {
  width: 140px;
}

.group-radio {
  margin-bottom: 40px;
}

.form-border {
  border: 1px solid #347AB6;
  padding: 20px 20px 20px 20px;
  border-radius: 0 0 5px 5px;
}

.form-header {
  background-color: #347AB6;
  color: white;
  height: 50px;
  border-radius: 5px 5px 0 0;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
