<!-- Botão de redirecionamento entre formulários -->
<div class="form-redirect">
  <a type="button" href="/checkins" class="btn btn-primary save-button">Incluir check in</a>
</div>

<!-- Formulário de Hospede -->
<div class="card-header form-header">
  <label for="hospede">Novo Hóspede</label>
</div>

<form class="col-md-12 form-border" name="formHospede">
  <div class="row">
      <div class="form-group col-md-6">
          <label for="nome">Nome completo</label>
          <input type="text" class="form-control" id="nome" name="nome" required>
      </div>

      <div class="form-group col-md-6">
          <label for="documento">Documento</label>
          <input type="number" min="0" class="form-control" id="documento" name="documento" required>
      </div>
  </div>

  <div class="row">
      <div class="form-group col-md-6">
          <label for="telefone">Telefone</label>
          <input type="text" class="form-control" id="telefone" name="telefone" mask="(99)9999-9999" pattern="[(][0-9]{2}[)][0-9]{4}[-][0-9]{4}" required>
      </div>
  </div>

  <button name="submitHospede" type="submit" class="btn btn-primary save-button">Salvar</button>
</form>

<!-- Tabela com consultas de Hospede -->
<div class="card-header form-header">
  <label for="hospede">Consultas</label>
</div>

<form class="col-md-12 form-border">
  <div class="group-radio">
      <div class="row col-md-12">
          <label>Filtrar hóspede:</label>
      </div>

      <div class="form-group col-md-6">
          <label for="pesquisaHospede">Pesquisa</label>
          <input type="text" class="form-control" id="pesquisaHospede">
      </div>
  </div>

  <table class="table">
      <thead>
          <tr>
              <th scope="col">Nome</th>
              <th scope="col">Documento</th>
              <th scope="col">Telefone</th>
              <th scope="col">Opções</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Matheus Souza</td>
              <td>48143263860</td>
              <td>1140247705</td>
              <td>
                  <button type="button" class="btn btn-primary btn-sm"
                      title="Editar o hóspede">
                      <i class="material-icons">edit</i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                      title="Apagar o hóspede">
                      <i class="material-icons">delete</i>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="row">
      <button class="btn btn-primary previous-button">← Previous</button>
      <button class="btn btn-primary next-button">Next →</button>
  </div>
</form>
