<!-- Botão de redirecionamento entre formulários -->
<div class="form-redirect">
  <a type="button" [routerLink]="['/guests']" class="btn btn-primary save-button">Incluir pessoa</a>
</div>

<!-- Formulário de Checkin -->
<div class="card-header form-header">
  <label for="hospede">Novo check in</label>
</div>

<form class="col-md-12 form-border" name="formCheckin">
  <div class="row">
      <div class="form-group col-md-6">
          <label for="dataEntrada">Data/hora de entrada</label>
          <input type="datetime-local" class="form-control" id="dataEntrada" name="dataEntrada" required>
      </div>

      <div class="form-group col-md-6">
          <label for="dataSaida">Data/hora de saída</label>
          <input type="datetime-local" class="form-control" id="dataSaida" name="dataSaida" required>
      </div>
  </div>

  <div class="row">
      <div class="form-group col-md-6">
          <label for="hospede">Pessoa</label>
          <input type="text" class="form-control" id="search-query" name="search-query" required>
      </div>

      <div class="form-group form-check checkbox">
          <input type="checkbox" class="form-check-input" id="veiculo" name="veiculo">
          <label class="form-check-label" for="veiculo">Possui veículo</label>
      </div>
  </div>

  <button name="submitCheckin" type="submit" class="btn btn-primary save-button">Salvar</button>
</form>
