<!-- Tabela com consultas de Checkin -->
<div class="card-header form-header mt-4">
  <label for="hospede">Consultas</label>
</div>

<form class="col-md-12 form-border mb-5">
  <div class="group-radio">
      <div class="row col-md-12">
          <label>Filtrar por:</label>
      </div>

      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="hospedados" checked>
          <label class="form-check-label" for="hospedados">Pessoas ainda presentes</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="hospedaram">
          <label class="form-check-label" for="hospedaram">Pessoas que já deixaram o hotel</label>
      </div>
  </div>

  <table class="table">
      <thead>
          <tr>
              <th scope="col">Nome</th>
              <th scope="col">Documento</th>
              <th scope="col">Valor gasto (R$)</th>
          </tr>
      </thead>
      <tbody>
          <tr id="tableRow">
              <td>Matheus</td>
              <td>48143263860</td>
              <td>R$480,00</td>
          </tr>
      </tbody>
  </table>

  <div class="row">
      <button class="btn btn-primary previous-button">← Previous</button>
      <button class="btn btn-primary next-button">Next →</button>
  </div>
</form>
